@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

/*
=============
GLOBAL STYLES
=============
*/

*, ::before, ::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

h1, h2, h3, h4 {
    letter-spacing: 0.01rem;
    margin-bottom: 1.5rem;
    color: #004a96;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 1rem;
}

button {
    padding: 10px 20px;
    background-color: #004a96;
    color: white;
    font-weight: 700;
    border-style: none;
    text-transform: uppercase;
}

button:hover {
    background-color: #adadad;
    cursor: pointer;
}

p {
    padding-bottom: 2rem;
}

/*
====== 
HEADER
======
*/

.header-container {
    position: absolute;
    width: 100%;
    background: transparent;
    display: inline-block;
    z-index: 1;
}

.menu-container::before {
    content: "";
    display: block;
    flex: 1;
    background-color: rgba(0, 0, 0, 0.3);
}

.menu-container::after {
    content: "";
    display: block;
    flex: 1;
    background-color: #004a96;
}

.menu-container {
    display: flex;
    margin-top: 25px;
    height: 80px;
    width: 100%;
    position: relative;
    color: #fff;
}

.menu-content {
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    display: flex;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.3);
}

.top-nav a:hover {
    color: #dcdcdc;
}

.basf-menu {
    display: flex;
    justify-content: space-around;
    margin-right: 350px;
}

.basf-menu li {
    margin-right: 50px;
    display: inline;
    color: white;
}

.menu-action {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu-action li {
    margin-right: 25px;
    display: inline;
    color: white;
}

.nav-contact-btn {
    margin-right: 30px;
    background-color: #dcdcdc;
}

#search {
    margin-right: 25px;
}

#world {
    margin-right: 30px;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-left: 20px;
    background-color: #004a96;
}

.logo {
    background: url(./Img/logo.svg);
    height: 43px;
    width: 120px;
    margin: 20px;
}

/*
=========== 
MAIN GLOBAL
===========
*/

.imgs {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 100%;
    height: 768px;
}

.hero-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin-bottom: 75px;
}

.hero-text {
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
}

.final-hero {
    flex-direction: column;
    margin-bottom: 75px;
}

/* 
==========
MAIN INDEX
==========
*/

.lp-hero-image {
    padding-top:400px;
    background-image: linear-gradient(rgba(197, 197, 197, 0), rgb(255, 255, 255)), url("img/AUVOT_Mea_Doxxing Blue_Side1.png");
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
  
.lp-hero-text {
    padding-top: 600px;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(8, 8, 8);
}

.features-img-right {
    display: grid;
    grid-template-columns: 15% 20% 15% 50%;
    grid-template-rows: auto;
}
  
.discover-text {
    grid-column: 2;
    align-self: center;
}
  
.discover-img {
    background-image: url(./Img/Domes.png);
    grid-column: 4;
}
  
.features-img-left {
    display: grid;
    grid-template-columns: 50% 15% 20% 15%;
    grid-template-rows: auto;
}
  
.experience-img {
    background-image: url(./Img/275790_basfauroom_122475.jpg);
    grid-column: 1;
}
  
.experience-text {
    grid-column: 3;
    align-self: center;
    text-align: right;
}
  
.logo-slider {
    background-color: #333;
    height: 200px;
}

/*
===========
MAIN AUROOM
===========
*/

.containers-img-right {
    display: grid;
    grid-template-columns: 15% 20% 15% 50%;
    grid-template-rows: auto;
}

.containers-img-left {
    display: grid;
    grid-template-columns: 50% 15% 20% 15%;
    grid-template-rows: auto;
}

.hero {
    background-image: linear-gradient(to bottom, transparent, white), url(./Img/basf_surface_solutions_auroom.jpg.dynamic.1280w720h.9672c6af986fb1a2a70312537bb3981aff5ba23d.jpeg);
    background-size: cover;
    width: 100%;
    height: 996px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.see-text {
    grid-column: 2;
    align-self: center;
}

.see-img {
    background-image: url(./Img/see_img.jpg);
    grid-column: 4;
}

.lib-img {
    background-image: url(./Img/Col_Lib_Img.jpg);
    grid-column: 1;
}

.lib-text {
    grid-column: 3;
    align-self: center;
    text-align: right;
}

.trend-text {
    grid-column: 2;
    align-self: center;
}

.trend-img {
    background-image: url(./Img/Trend_Img.jpg);
    grid-column: 4;
}

.compare-img {
    background-image: url(./Img/Compare_Img.jpg);
    grid-column: 1
}

.compare-text {
    grid-column: 3;
    align-self: center;
    text-align: right;
}

.benefit-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 50px 0;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: #333333;
    color: white
}

.benefits {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 75px;
}

.benefit {
    display: flex;
    flex-direction: column;
    flex: 30%;
    align-items: center;
    text-align: center;
    padding: 50px;
}

.icon-benefit {
    height: 100px;
    width: 100px;
}

/*
=========
MAIN TEAM
=========
*/

.ben-brain {
    background-image: linear-gradient(to bottom, transparent, #bcbcbc), url(./Img/Digital_1920x520.png);
    background-size: cover;
    width: 100%;
    height: 556px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-items h1 {
    margin-top: 50px;
}

.hero--2 {
    background: linear-gradient(to bottom, #bcbcbc, white);
}

.value-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10.76%;
    margin-right: 10.76%;
}

.value {
    display: flex;
    flex: 50%;
    align-items: center;
    padding: 20px 20px 80px;
}

.value-number h1 {
    margin: 25px;
}

.team-container {
    padding: 75px;
    width: auto;
    height: auto;
}

.team-container h1 {
    margin-bottom: 50px;
}

.team-imgs {
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-flow: row wrap;
}

.team-members {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.team-members img {
    transition: ease-out 0.5s;
}

.team-members img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/*
=========
MAIN NEWS
=========
*/

.heading::before {
    content: "";
    display: block;
    width: 100%;
    height: 245px;
    z-index: -1;
}

.heading {
    position: relative;
    display: block;
    text-align: center;
}

.news-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10.76%;
    margin-right: 10.76%;
    margin-bottom: 25px;
}

.news-slider {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.news {
    display: flex;
    flex-direction: column;
    width: 325px;
    margin: 25px;
}

.news img {
    margin-bottom: 10px;
    border-radius: 3%;
}

.news p {
    padding: 0;
    margin-bottom: 5px;
}

.news hr {
    width: 100%;
    margin: 15px 0;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.icon-text {
    display: flex;
}

.icon-text p {
    padding-bottom: 0;
    padding-left: 20px;
}

/*
======
FOOTER
======
*/

footer {
    height: 160px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    text-align: center;
    color: white;
}